.header h1 {
  background-color: lightgray;
  color: black;
  position: relative;
  text-align: center;
  font-family: "Courier New";
  font-size: 4rem;
  height: 10vw;
  width: 100vw;
}

.header div {
  color: lightgray;
}